<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="/profile.css">
</head>
<body>
  <h1>User Profile</h1>
  <div>
    <label>Username:</label>
    <span><%= user.username %></span>
  </div>
  <div>
    <label>UserId:</label>
    <span><%= user.id %></span>
  </div>
</body>
</html>
